<div class="container mt-5">
    <div class="h2 mb-5 p-3 border text-center" style="background-color: #3286E6;color : #fff">
        User Sentiment Analysis Platform
    </div>
    <div class="card" [hidden]="hidePage">
        <div class="card-body" style="background-color: #D4D5D5;">
          <div class="cd-grid gap-2 col-12 mx-auto text-center">          
            Les champs avec <span style="color: #f00;">*</span> sont obligatoires!
          </div>
            <form class="m-auto" #requestForm = "ngForm" (ngSubmit)="analyse(requestForm)">
                <div class="row mb-2 mt-5">
                    <div class="cd-grid gap-2 col-6 mx-auto text-center">
                      <span class="fw-bold">Entrez vos mots clés (</span><span style="color: #f00;">*</span>)
                      <input required id="keywords" class="form-control shadow mt-2" type="text" placeholder="keyword keyword keyword"
                      [(ngModel)] = 'requete.keywords' name = "keywords">
                    </div>
                </div>
                <div class="row mb-2 mt-5">
                    <div class="cd-grid gap-2 col-4 mx-auto text-center">
                      <span class="fw-bold">Entrez la date de début</span>
                      <input id="start_date" class="form-control shadow mt-2" type="text" placeholder="2022-01-01"
                      [(ngModel)] = 'requete.start_date' name = "start">
                    </div>
                </div>
                <div class="row mb-2 mt-5">
                    <div class="cd-grid gap-2 col-4 mx-auto text-center">
                      <span class="fw-bold">Entrez la date de fin</span>
                      <input id="end_date" class="form-control shadow mt-2" type="text" placeholder="2022-01-01"
                      [(ngModel)] = 'requete.end_date' name = "end">
                    </div>
                </div>
                <div class="row mb-2 mt-5 mb-5">
                    <div class="cd-grid gap-2 col-6 mx-auto text-center">
                      <span class="fw-bold">Séléctionnez un modèle</span>(<span style="color: #f00;">*</span>)
                      <select required class="form-control shadow mt-2" [(ngModel)] = 'requete.model' name = "model">
                        <option>Support Vector Machine (SVM)</option>
                        <option>Logistic Regression</option>
                        <option>Naives Bayes</option>
                      </select>
                    </div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-danger mt-5 mb-5" [disabled]="!requestForm.valid">Lancer l'analyse</button>
                </div>
            </form>
        </div>
    </div>
  </div>